.navbar {
  background-color: #d7e0dd;
}

.navbar-brand {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.8rem;
  color: #000;
}

.navbar-nav .nav-link {
  color: #000 !important;
  font-weight: 500;
  padding: 0 1rem;
}

.navbar-nav {
  font-size: 20px;
}